In [1]:
from expense_manager import Expense, ExpenseDatabase

In [2]:
db = ExpenseDatabase()

In [3]:
# Create expenses
expense1 = Expense('Laptop', 200.40)
expense2 = Expense('Coffee', 4.50)
expense3 = Expense('Headphones', 30.00)
expense4 = Expense('Lunch', 10.00)
expense5 = Expense('Dinner', 20.00)
expense6 = Expense('Dinner', 50.00)
expense7 = Expense('Coffee', 7.50)

In [4]:
# Adding expense to database
db.add_expense(expense1)
db.add_expense(expense2)
db.add_expense(expense3)
db.add_expense(expense4)
db.add_expense(expense5)
db.add_expense(expense6)
db.add_expense(expense7)

In [5]:
# Print all expenses
db.to_dict()

[{'id': 'a9e54074-fe98-40fa-8a3c-8446636e8a53',
  'title': 'Laptop',
  'amount': 200.4,
  'created_at': '2025-02-18T22:50:08.077121+00:00',
  'updated_at': '2025-02-18T22:50:08.077121+00:00'},
 {'id': '77882790-ca01-4ffd-8b42-ad4eea76a34a',
  'title': 'Coffee',
  'amount': 4.5,
  'created_at': '2025-02-18T22:50:08.077274+00:00',
  'updated_at': '2025-02-18T22:50:08.077274+00:00'},
 {'id': 'e49d9608-1c45-4de1-bf31-303be1b22c4d',
  'title': 'Headphones',
  'amount': 30.0,
  'created_at': '2025-02-18T22:50:08.077351+00:00',
  'updated_at': '2025-02-18T22:50:08.077351+00:00'},
 {'id': '74044eae-7a7b-4b76-80d8-759191f85947',
  'title': 'Lunch',
  'amount': 10.0,
  'created_at': '2025-02-18T22:50:08.077462+00:00',
  'updated_at': '2025-02-18T22:50:08.077462+00:00'},
 {'id': 'd7e4a909-1b9d-40ee-b26f-8f032d887689',
  'title': 'Dinner',
  'amount': 20.0,
  'created_at': '2025-02-18T22:50:08.077535+00:00',
  'updated_at': '2025-02-18T22:50:08.077535+00:00'},
 {'id': '651b31fa-c53f-41c6-8d05-43fb0d13fabf',
  'title': 'Dinner',
  'amount': 50.0,
  'created_at': '2025-02-18T22:50:08.077596+00:00',
  'updated_at': '2025-02-18T22:50:08.077596+00:00'},
 {'id': '38de68ef-76d7-4865-8b50-7c74a9604309',
  'title': 'Coffee',
  'amount': 7.5,
  'created_at': '2025-02-18T22:50:08.077745+00:00',
  'updated_at': '2025-02-18T22:50:08.077745+00:00'}]

In [6]:
# Updating Expense
expense1.update(title='New Laptop', amount=300.00)

In [7]:
# retrieving updated Expense
db.get_expense(expense1.id).to_dict()

{'id': 'a9e54074-fe98-40fa-8a3c-8446636e8a53',
 'title': 'New Laptop',
 'amount': 300.0,
 'created_at': '2025-02-18T22:50:08.077121+00:00',
 'updated_at': '2025-02-18T22:50:09.665599+00:00'}

In [8]:
# retrieving expense by title
db.get_expense_by_title('dinner')

[{'id': 'd7e4a909-1b9d-40ee-b26f-8f032d887689',
  'title': 'Dinner',
  'amount': 20.0,
  'created_at': '2025-02-18T22:50:08.077535+00:00',
  'updated_at': '2025-02-18T22:50:08.077535+00:00'},
 {'id': '651b31fa-c53f-41c6-8d05-43fb0d13fabf',
  'title': 'Dinner',
  'amount': 50.0,
  'created_at': '2025-02-18T22:50:08.077596+00:00',
  'updated_at': '2025-02-18T22:50:08.077596+00:00'}]

In [9]:
# Deleting Expenses
db.remove_expense(expense6.id)
db.remove_expense(expense7.id)

In [10]:
db.to_dict()

[{'id': 'a9e54074-fe98-40fa-8a3c-8446636e8a53',
  'title': 'New Laptop',
  'amount': 300.0,
  'created_at': '2025-02-18T22:50:08.077121+00:00',
  'updated_at': '2025-02-18T22:50:09.665599+00:00'},
 {'id': '77882790-ca01-4ffd-8b42-ad4eea76a34a',
  'title': 'Coffee',
  'amount': 4.5,
  'created_at': '2025-02-18T22:50:08.077274+00:00',
  'updated_at': '2025-02-18T22:50:08.077274+00:00'},
 {'id': 'e49d9608-1c45-4de1-bf31-303be1b22c4d',
  'title': 'Headphones',
  'amount': 30.0,
  'created_at': '2025-02-18T22:50:08.077351+00:00',
  'updated_at': '2025-02-18T22:50:08.077351+00:00'},
 {'id': '74044eae-7a7b-4b76-80d8-759191f85947',
  'title': 'Lunch',
  'amount': 10.0,
  'created_at': '2025-02-18T22:50:08.077462+00:00',
  'updated_at': '2025-02-18T22:50:08.077462+00:00'},
 {'id': 'd7e4a909-1b9d-40ee-b26f-8f032d887689',
  'title': 'Dinner',
  'amount': 20.0,
  'created_at': '2025-02-18T22:50:08.077535+00:00',
  'updated_at': '2025-02-18T22:50:08.077535+00:00'}]